body{
  bacground-image: url();
  background-repeat: no-repeat;
  background-size: cover;
}

.car-button-color {
    color: darkcyan;
    border: solid black;
    margin: 5px;
  }
  #add-car{
    color: darkcyan;
    border: solid black;
   
   
  }