body{
  background-image: url(../images/muscleCars.jpeg);
  position: relative;
  margin: 5px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  
}

.car-button-color {
    color: darkcyan;
    border: solid black;
    margin: 5px;
  }
  #add-car{
    color: darkcyan;
    border: solid black;
   
   
  }
  #gifs-appear-here{
    margin: 5px 0px 0px 30px;
  }